@charset "utf-8";

.create-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wellcome-message {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create-box {
  margin-top: 60px;
  padding: 60px 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
}

.flex-input-area {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.create-heading {
  margin-bottom: 36px;
  font-size: 1.75rem;
}

.name-area {
  margin-left: 30px;
}

.create-input {
  border: 1px solid #4a5561;
  border-radius: 5px;
  height: 30px;
  text-align: left;
  padding: 0 5px;
}

.error-message {
  margin-bottom: 12px;
}

.create-btn {
  font-size: 1.25rem;
  border: 1px solid #4472a3;
  border-radius: 5px;
  padding: 8px 12px;
  color: rgb(241, 241, 241);
  background-color: #7496bd;
}